<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="style.css" >
</head>

<body>
	<header>
		<h1 style=text-align:left> SOL POTENTIA </h1>

		<div class="topright"> <a href="#">ABOUT US</a> | <a href="#">CONTACT US</a></div>
		<div class="topbottomright"> <a href="#">LOGIN</a> | <a href="registeration.html">REGISTER</a></div>
		<hr>
	</header>

	
	<nav>
		<ul>
			<li><a href="Homepage.html">Home</a></li>
			<li><a href="Menu1.html">Menu1</a></li>
			<li><a href="#">Menu2</a></li>
			<li><a href="#">Menu3</a></li>
			
		</ul>	
	</nav>
			<h1 style="text-align: center;"> Dashboard </h1>
	
		<form align="regform" method="post" enctype="multipart/form-data">
			<table cellpadding="5">		
				<tr>
					<td style="text-align: right;">Client:</td>
					<td><input type="text" name="client"></td>
				</tr>
				<tr>
					<td style="text-align: right;">Location:</td>
						<td><input type="text" name="location"></td>
				</tr>
				<tr>
					<td style="text-align: right;">Product:</td>
					<td><input type="text" name="product"</td>
				</tr>
				<tr>
					<td style="text-align: right;">Test Standard:</td>
					<td><input type="text" name="teststandard" required></td>
				</tr>
				<tr>
				<td style="text-align: right;">Certificate:</td>
					<td>
						<input type="radio" id="cert1" value="cert1" required> 
						<label for="cert1">Cert1</label>
						<input type="radio" id="cert2" value="cert2" >
						<label for="cert1">Cert2</label>
						<input type="radio" id="cert3" value="cert3"> 
						<label for="cert1">Cert3</label>
					</td>
				</tr>	
								
			</table>
			<p style="text-align: center;"><input type="submit" value="Submit"></p>
		</form>
		
		
	<footer> <p style="top:15px;">Copyright &copy; 2021 </p>
	<div class="bottomleft"> <a href="#">SITE MAP</a> | <a href="#">PRIVACY POLICY</a></div>
	</footer>
</body>
</html>
